/* Add this to your CSS */
.item-container {
  max-width: 15%;
  flex-shrink: 0;
  margin-right: 1rem;
}

@media (max-width: 600px) {
  .item-container {
    max-width: 33%;
    margin-right: 3rem;
  }
}
