::-webkit-scrollbar {
  /* make it fit the theme  */
  background-color: #1e1e1e;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  /* make it fit the theme  */
  background-color: #007acc;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  /* make it fit the theme  */
  background-color: #0685da;
  border: #5f5f5f 0.5px solid;
}

::-webkit-scrollbar-thumb:active {
  /* make it fit the theme  */
  background-color: #00548d;
}

::-webkit-scrollbar-track {
  /* make it fit the theme  */
  background-color: #1e1e1e;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  /* make it fit the theme  */
  background-color: #1e1e1e;
  border-radius: 3px;
}

::-webkit-resizer {
  /* make it fit the theme  */
  background-color: #1e1e1e;
  border-radius: 3px;
}

.Material_container::-webkit-scrollbar {
  /* make it fit the theme  */
  background-color: #1e1e1e;
  height: 7px;
}

.Material_container::-webkit-scrollbar-thumb {
  /* make it fit the theme  */
  background-color: #007acc;
  border-radius: 3px;
}

.Material_container::-webkit-scrollbar-thumb:hover {
  /* make it fit the theme  */
  background-color: #0685da;
  border: #5f5f5f 0.5px solid;
}

.Material_container::-webkit-scrollbar-thumb:active {
  /* make it fit the theme  */
  background-color: #00548d;
}

.Material_container::-webkit-scrollbar-track {
  /* make it fit the theme  */
  background-color: #1e1e1e;
  border-radius: 3px;
}

.Material_container::-webkit-scrollbar-corner {
  /* make it fit the theme  */
  background-color: #1e1e1e;
  border-radius: 3px;
}

.Material_container::-webkit-resizer {
  /* make it fit the theme  */
  background-color: #1e1e1e;
  border-radius: 3px;
}

@keyframes bounce-in-bottom {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

@keyframes shake-bottom {
  0%,
  100% {
    border-bottom : "5px solid blue";
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
